.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 30px;
}

.userName {
	font-size: 1.3rem;
	font-weight: bold;
}

.button {
	cursor: pointer;
}
