.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 30px;
}

.container h2 {
	font-size: 1.3rem;
	font-weight: bold;
}

.container button {
	cursor: pointer;
}
