#login {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 100vh;
	background: #eee;
}

.modal {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	gap: 20px;

	padding: 50px 5px;
	width: 100%;
	max-width: 300px;
	border-radius: 5px;
	background: #fff;
}

.input {
	width: 100%;
	max-width: 200px;
}
