#register {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 100vh;
	background: #fff;
}

#register .register-box {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 30px;

	width: 100%;
	max-width: 350px;
	padding: 80px 30px;
	background: #21000c88;
	border-radius: 10px;
}

#register .register-box h1 {
	color: #fffc;
}

#register .register-box .image-box {
	display: flex;
	align-items: center;
	justify-content: center;

	margin-bottom: 40px;
	width: 100%;
	max-width: 200px;
}

#register .register-box .image-box {
	width: 100%;
}

#register .register-box .register-form {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;

	width: 100%;
}

#register .register-box .register-form label {
	align-self: flex-start;
	color: #fff;
	font-weight: 500;
}

#register .register-box .register-form input {
	width: 100%;
	border: none;
	background: #eee8;
	height: 40px;
	color: #111;
	border-radius: 5px;
	padding: 0 10px;
	outline: none;
	margin-bottom: 10px;
}

#register .register-box .register-form button {
	width: 100%;
	border: none;
	color: #fffa;
	font-size: 1.2rem;
	font-weight: bold;
	padding: 10px 0;
	background: var(--primary);
	cursor: pointer;
}
