.boxList {
	display: grid;
	grid-template-columns: repeat(auto-fit, 160px);
	grid-template-rows: repeat(auto-fit, 204.44px);
	gap: 10px;
	justify-content: center;

	padding: 10px 0;
	overflow-y: scroll;
	height: calc(100vh - 130px);
	width: 100%;
}

.boxList::-webkit-scrollbar {
	display: none;
}

.boxList li {
	display: flex;
	align-items: center;
	justify-content: center;

	list-style: none;
}
