.boxList {
	display: grid;
	grid-template-columns: repeat(auto-fit, 260px);
	grid-template-rows: repeat(auto-fit, 332px);
	gap: 10px;
	justify-content: center;

	position: relative;
	top: 80px;
	padding: 10px;
	height: calc(100vh - 80px - 50px);
	transform: translateY(-65px);
	overflow-y: scroll;
	width: 100%;
}

.boxList::-webkit-scrollbar {
	display: none;
}

.boxList li {
	display: flex;
	align-items: center;
	justify-content: center;

	list-style: none;
}
