.boxList {
	display: grid;
	grid-template-columns: repeat(auto-fit, 130px);
	grid-template-rows: repeat(auto-fit, 130px);
	gap: 10px;
	justify-content: center;

	padding: 10px 0;
	height: calc(100vh - 120px);
	width: 100%;
	overflow-y: scroll;
}

.boxList::-webkit-scrollbar {
	display: none;
}

.list {
	display: flex;
	align-items: center;
	justify-content: center;

	position: relative;
	list-style: none;
	background: #fff;
}
