.boxList {
	display: grid;
	grid-template-columns: repeat(auto-fit, 130px);
	grid-template-rows: repeat(auto-fit, 130px);
	gap: 10px;
	justify-content: center;

	position: relative;
	top: 80px;
	padding: 10px;
	height: calc(100vh - 80px - 50px);
	width: 100%;
	overflow-y: scroll;
}

.boxList::-webkit-scrollbar {
	display: none;
}

.list {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 128px;
	height: 128px;
	list-style: none;
	background: #fff;
}
