.modalRoot {
	display: flex;
	align-items: center;
	flex-direction: column;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 300px;
	max-width: 600px;
	background: #ccc;
	z-index: 1;
	border-radius: 5px;
	padding: 0 10px 10px 10px;
}

.title {
	padding: 16px 0;
	width: 100%;
	font-size: 1.1rem;
	font-weight: 500;
}

.spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 5;
	background: red;
}
