.headerPage {
	position: fixed;
	top: 0;
	left: 0;
	height: 80px;
	width: 100vw;
	background: #8db066;
	padding: 10px;
	color: #fff;
}

.topHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: bold;
	font-size: 1.2rem;
	letter-spacing: 0.1rem;
}

.navegation {
	position: absolute;
	bottom: 10px;
	left: 0;

	width: 100%;
	height: 30px;
	padding: 10px;
}

.categories {
	display: flex;
	align-items: center;
	gap: 10px;
	
	width: 100%;
	overflow-x: scroll;
}

.categories::-webkit-scrollbar {
	display: none;
}

.categories > li {
	list-style: none;
	white-space: nowrap;
}

.categories li.categoryActive {
	border-bottom: 7px solid #fff;
}
