.modalContainer {
	display: flex;
	flex-direction: column;
	align-items: center;

	position: absolute;
	width: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 5px;
	background: #eee;
	padding: 20px;
	z-index: 1;
}

.modalContainer form {
	width: 100%;
}

.modalContainer form h2 {
	font-weight: 500;
	font-size: 1.1rem;
}

.modalContainer form input {
	width: 70%;
	height: 30px;
	border-radius: 5px;
}

.modalContainer form select {
	width: 70%;
	height: 30px;
	border-radius: 5px;
}

.spinner {
	position: absolute;
	top: calc(50% - 0.75rem);
	left: calc(50% - 0.75rem);
}
