.modalContainer {
	display: flex;
	align-items: center;
	gap: 10px;
	flex-direction: column;

	position: absolute;
	width: 100%;
	max-width: 500px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 5px;
	background: #ccc;
	padding: 10px 40px;
	z-index: 1;
}

.modalContainer h1 {
	font-size: 1.2rem;
	font-weight: 500;
	margin-bottom: 10px;
}

.modalContainer li {
	display: flex;
	align-items: center;
	gap: 10px;

	margin-bottom: 15px;
	text-align: left;
	list-style: none;
}

.modalContainer li span {
	display: flex;
	align-items: center;
	justify-content: center;
}
